header {
  background-color: #333;
  padding: 20px;
  color: white;
  text-align: center;
}

.cocktail-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cocktail-card {
  width: calc(20% - 10px);
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 10px;
  background-color: #f2f2f2;
}

.cocktail-card img {
  object-fit: contain;
  width: 100%;
}

.cocktail-card-content {
  background-color: #fff; /* Set background color for the text part */
  padding: 10px;
}
