body {
  background-color: #555;
}

.navbar-list {
  list-style: none; /* Remove bullet points */
  display: flex;
  background-color: #333;
  align-items: center;
  justify-content: space-between;
}

/* Style the h1 in the navbar */
.navbar-item {
  color: #908c68;
  margin-left: 20px;
  font-family: "Anton", sans-serif;
}

.navbar-item button {
  background-color: #e7edf1; /* Set your desired button background color */
  color: #7c795d;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}

/* Style the header with the slogan */
header {
  background-color: #555; /* Set your desired background color */
  padding: 1rem;
}

/* Style the slogan text */
.slogan {
  text-align: center;
  font-size: 40px;
  font-family: "Rye", cursive;
  color: beige;
}

.cocktail-list {
  margin-left: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cocktail-card {
  width: calc(20% - 10px);
  margin-bottom: 20px;
  border-radius: 2%;
  padding: 10px;
  color: rgb(34, 33, 33);
  height: auto;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 10px;
  background-color: #ad9452;
  text-align: center;
}

.cocktail-card img {
  object-fit: contain;
  width: 100%;
  border-radius: 2%;
}
h3 {
  font-family: "Muli", sans-serif;
  color: rgb(34, 33, 33);
}

.cocktail-card-content {
  background-color: #fff; /* Set background color for the text part */
  padding: 10px;
}

/* styling for details form */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  visibility: hidden; /* Initially hidden */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Adjust the z-index as needed */
}

.modal {
  background-color: #ac8181;
  color: rgb(244, 235, 235);
  max-width: 40%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  z-index: 1001; /* Should be higher than the overlay */
  visibility: visible; /* Initially visible */
}
